<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food</title>
    <link rel="stylesheet" href="../public/styles/layout.css" type="text/css">
</head>
<body>
    <div class="wrapper part1">
        <header id="header" class="clear">
          <div id="hgroup">
            <h1><a href="/">Daily Photography</a></h1>
            <h2>Designed by Tim Strociak</h2>
          </div>
          <nav>
            <ul>
              <li><a href="/Nature">Nature</a></li>
              <li><a href="/Meme">Memes</a></li>
              <li><a href="/Food">Food</a></li>
              <li><a href="/Trivia">Trivia</a></li>
              <li class="last"><a href="/Login">Login</a></li>
            </ul>
            
          </nav>
          
        </header>
    <div id="testo4" class="title">
        <h2>Food</h2>
    </div>    
      </div>
    <div class="image-grid">
        <img class="image-grid-col-2 image-grid-row-2" src="../public/images/food1.jpg"  alt="architecture">
        <img src="../public/images/food2.jpg" class="thumbnail" alt="food picture">
        <img src="../public/images/food3.jpg" class="thumbnail" alt="food picture">
        <img src="../public/images/food4.jpg" class="thumbnail" alt="food picture">
        <img src="../public/images/food5.jpg" class="thumbnail" alt="food picture">
        <img src="../public/images/food6.jpg" class="thumbnail" alt="food picture">
        <img src="../public/images/food7.jpeg" class="thumbnail" alt="food picture">
        <img src="../public/images/food8.jpg" class="thumbnail" alt="food picture">
        <img src="../public/images/food9.jpg" class="thumbnail" alt="food picture">
      </div>
    <!-- Footer -->
<div class="wrapper part3">
    <footer id="copyright" class="clear">
      <p class="fl_left">Copyright &copy; 2021 - All Rights Reserved - <a href="/">Daily Photography</a></p>
    </footer>
  </div>
  </body>
  </html>
</body>
</html>