<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Daiky Photography</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="../public/styles/layout.css" type="text/css">
</head>
<body>

<div class="wrapper part1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="/">Daily Photography</a></h1>
      <h2>Designed by Timothy Strociak</h2>
    </div>
    <nav>
      <ul>
        <li><a href="/Nature">Nature</a></li>
        <li><a href="/Meme">Memes</a></li>
        <li><a href="/Food">Food</a></li>
        <li><a href="/Trivia">Trivia</a></li>
        <li class="last"><a href="/Login">Login</a></li>
      </ul>
      
    </nav>
    
  </header>
</div>
<!-- content -->
<div class="wrapper part2">
  <div id="container" class="clear">
    <div id="homepage">
      <section id="services" class="clear">
        <article class="one_third">
          <figure><img src="../public/images/nature1.jpg" width="290" height="180" alt="landscape1 picture">
            <figcaption>
              <h2>Nature Can Be Beautiful</h2>
              <p>Our Nature section is full of amazingly beautiful picture from around the world.</p>
              <footer class="more"><a href="/Nature">See More &raquo;</a></footer>
            </figcaption>
          </figure>
        </article>
        <article class="one_third">
          <figure><img src="../public/images/meme1.jpg" width="290" height="180" alt="meme picture">
            <figcaption>
              <h2>City Life</h2>
              <p>Everyone can enjoy a good laugh every now and then. Might as well check out our Meme section!</p>
              <footer class="more"><a href="/Meme">Read More &raquo;</a></footer>
            </figcaption>
          </figure>
        </article>
        <article class="one_third lastbox">
          <figure><img src="../public/images/food1.jpg" width="290" height="180" alt="food picture">
            <figcaption>
              <h2>Food</h2>
              <p>Want to get your Mouth watering? Check out our Food section and prepare to get hungry.</p>
              <footer class="more"><a href="/Food">Read More &raquo;</a></footer>
            </figcaption>
          </figure>
        </article>
      </section>


      <!-- Introduction -->
      <section id="intro" class="last clear">
        <article>
          <figure><img src="../public/images/IMG_tim.jpg" width="450" height="250" alt="picture of Tim the Author">
            <figcaption>
              <h2>Web Designer: Tim Strociak</h2>
              <p>I've always loved the beauty found on our planet and I began my mission to share that beauty by creating this website.</p>
              <p>Feel Free to spend as much time as you like browsing the amazing pictures I have collected from the internet for your viewing and enjoyment</p>
              <footer class="more"><a href="/Meme">My Favorites &raquo;</a></footer>
            </figcaption>
          </figure>
        </article>
      </section>
    </div>
  </div>
</div>
<!-- Footer -->
<div class="wrapper part3">
  <footer id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; 2021 - All Rights Reserved - <a href="/">Daily Photography</a></p>
  </footer>
</div>
</body>
</html>
