<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia</title>
    <link rel="stylesheet" href="../public/styles/layout.css" type="text/css">
</head>
<body>
    <div class="wrapper part1">
        <header id="header" class="clear">
          <div id="hgroup">
            <h1><a href="/">Daily Photography</a></h1>
            <h2>Designed by Timothy Strociak</h2>
          </div>
          <nav>
            <ul>
              <li><a href="/Nature">Nature</a></li>
              <li><a href="/Meme">Memes</a></li>
              <li><a href="/Food">Food</a></li>
              <li><a href="/Trivia">Traiva</a></li>
              <li class="last"><a href="/Login">Login</a></li>
            </ul>
          </nav>
        </header>
      </div>

      <h1 class="title2">Meme Quiz!</h1>
      <div id="quiz"></div>
      <br>
      <button id="submit" class="center">Get Results</button>
      <br><br><br>
      <div id=res2>
      <h1 class="title2">Results</h1>
      <div class="title2" id="results">
          
      </div>
      </div>    
  <script type="text/javascript" src="../public/JS/trivia.js"></script>    

<!-- Footer -->
<div class="wrapper part3">
    <footer id="copyright" class="clear">
      <p class="fl_left">Copyright &copy; 2021 - All Rights Reserved - <a href="/">Daily Photography</a></p>
    </footer>
  </div>
</body>
</html>